PORT=4000
SOTRA_SERVER_CTRANSLATE_URL=http://localhost:3005
SOTRA_SERVER_FAIRSEQ_URL=http://localhost:3000
VOSK_SERVER_URL=ws://localhost:2700

MONGODB_URI=mongodb+srv://user:secret@cluster0.xyz.mongodb.net/webcaptioner
JWT_SECRET_KEY=mysecretkey